# Compose
COMPOSE_PROJECT_NAME=modern-python-template
COMPOSE_FILE=docker/docker-compose.yaml:docker/docker-compose.local.yaml

# Application
DJANGO_DEBUG=true
ENVIRONMENT=local
LOGGING_LEVEL=DEBUG

# Secrets
DJANGO_SECRET_KEY=example-django-secret-key
JWT_SECRET_KEY=example-jwt-secret-key-with-at-least-32-bytes

# HTTP
ALLOWED_HOSTS=["127.0.0.1","localhost","0.0.0.0"]
CSRF_TRUSTED_ORIGINS=["http://localhost"]
CORS_ALLOW_ORIGINS=["http://localhost"]

# Observability
LOGFIRE_ENABLED=false
LOGFIRE_SERVICE_NAME=modern-python-template
LOGFIRE_ENVIRONMENT=local

# Database
POSTGRES_DB=postgres
POSTGRES_PASSWORD=example-postgres-password
POSTGRES_PORT=5432
POSTGRES_USER=postgres
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"

# Redis
REDIS_PASSWORD=example-redis-password
REDIS_PORT=6379
REDIS_URL="redis://default:${REDIS_PASSWORD}@localhost:${REDIS_PORT}/0"

# Storage
STORAGE_BACKEND=s3
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=example-minio-access-key-id
MINIO_ROOT_PASSWORD=example-minio-secret-access-key

# S3
AWS_S3_ENDPOINT_URL=http://localhost:${MINIO_API_PORT}
AWS_S3_PUBLIC_ENDPOINT_URL=http://localhost:${MINIO_API_PORT}
AWS_S3_ACCESS_KEY_ID=example-minio-access-key-id
AWS_S3_SECRET_ACCESS_KEY=example-minio-secret-access-key
AWS_S3_REGION_NAME=us-east-1
AWS_S3_PUBLIC_BUCKET_NAME=public
AWS_S3_PROTECTED_BUCKET_NAME=protected
