# Test environment specific overrides
ENVIRONMENT=test
DJANGO_DEBUG=true
DJANGO_SECRET_KEY=test-django-secret-key
JWT_SECRET_KEY=test-jwt-secret-key-with-at-least-32-bytes
LOGGING_LEVEL=DEBUG
LOGFIRE_ENABLED=false
DATABASE_TEST_NAME=test_db.sqlite3
DATABASE_URL=sqlite:///test_db.sqlite3
REDIS_URL=redis://localhost:6379/0

STORAGE_BACKEND=local
