# Application
DJANGO_DEBUG=true
ENVIRONMENT=test
LOGGING_LEVEL=DEBUG

# Secrets
DJANGO_SECRET_KEY=test-django-secret-key
JWT_SECRET_KEY=test-jwt-secret-key-with-at-least-32-bytes

# Observability
LOGFIRE_ENABLED=false

# Database
DATABASE_TEST_NAME=test_db.sqlite3
DATABASE_URL=sqlite:///test_db.sqlite3

# Redis
REDIS_URL=redis://localhost:6379/0

# Storage
STORAGE_BACKEND=local
